body {
  padding: 10px;
  margin: 0px;
  font-family: monospace;
  font-size: 1rem;
}

body.dark-mode {
  background: #1f232b;
  color: #839496;
}

body.light-mode {
  background: #fff;
  color: #000;
}

body.light-mode .note-textarea, body.light-mode .hljs {
  color: #000;
}

footer {
  a {
    &:link {
      color: #839496;
      text-decoration: none;
    }

    &:visited {
      color: #839496;
      text-decoration: none;
    }

    &:hover {
      color: #839496;
      text-decoration: underline;
    }
  }
}

.note-input {
  font-family: monospace;
  font-size: 2em;
  font-weight: bold;
  background: transparent;
  border: 0px;
  color: #839496;
  padding: 0px;
  width: 100%;
  outline: none;
}

.note-textarea {
  font-family: monospace;
  font-size: 1em;
  background: transparent;
  border: 0px;
  color: #eee;
  padding: 0px;
  width: 100%;
  height: 100%;
  outline: none;
  min-height: 75vh;
  resize: none;
}

div.note-view {
  margin-top: 50px;
  min-height: 75vh;
}

ul.note-list {
  display: block;
  list-style-type: none;
  margin-bottom: 1rem;
  padding-left: 0;

  li {
    display: list-item;
    margin-bottom: 1rem;
  }

  li a {
    text-decoration: underline;
    color: #99f;
    cursor: pointer;
  }
}

.truncated {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  width: fit-content;
  white-space: nowrap;
}

.text-center {
  text-align: center !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.inline-block {
  display: inline-block !important;
}

.btn {
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  font-size: 1rem;
  border: none;
  background-color: #474747;
  color: #fff;
  cursor: pointer;
}

.btn.delete {
  background-color: #770421;
}

button.theme-btn {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  height: 32px;
  width: 32px;
}

.sticky-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.hljs {
  background: transparent !important;
}

td.hljs-ln-numbers {
  padding-right: 20px !important;
}

code.hljs {
  padding: 0 !important;
  word-wrap: break-word;
  text-wrap: auto;
}

.hljs-copy-wrapper {
  margin-right: 8px !important;
}

.transparent {
  background-color: transparent !important;
  border-color: transparent !important;
}

/** Markdown styling **/
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #839496;
    background: transparent;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    cursor: default;
}

input[type="checkbox"]:checked::after {
    /* Use a single backslash for the unicode character */
    content: "\2714";
    /* A green from the syntax highlight theme */
    color: #98c379;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
  div.note-view {
    margin-top: 100px;
  }

  .sticky-button .btn {
    font-size: 1.0rem;
    padding: 4px 8px 4px 8px;
  }
}
